@import "bootstrap";

.content {
  margin-top: 25px;
}

.calculator {
  .output { font-weight: bold; }
  #payment { text-decoration: underline; }
  #graph { border: solid black 1px; }
  th, td { vertical-align: top; }
}

